<!DOCTYPE html>
<html lang="en">
  <head>
    <title>strix stock</title>
	<link rel="shortcut icon" type="image/png" href="http://www.cutmypic.com/uploads/title287502245.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGTSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="/" ><h3>strix stock</h3></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/market">tsetmc market</a>
          </li>
        </ul>
    </nav>

	<div class="container-floud p-4">
    <div class="card bg-primary">
			<div class="card-header text-center">change</div>
			<div class="card-body">
        <ul class='list-group'>
          <li class="list-group-item">
            <a class="nav-link" href="/change/ticker">ticker</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/orderbook">orderbook</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/tradebook">tradebook</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/balance">balance</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/mytrades">mytrades</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/myorders">myorders</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/user">user</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/root">root</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/delbtc">delbtc</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link" href="/change/trade">trade</a>
          </li>


        </ul>
			</div>
		</div>
	</div>
	</body>

</html>
