<!DOCTYPE html>
<html lang="en">
  <head>
    <title>strix stock</title>
	<link rel="shortcut icon" type="image/png" href="http://www.cutmypic.com/uploads/title287502245.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGTSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="/" ><h3>strix stock</h3></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/market">tsetmc market</a>
          </li>
        </ul>
    </nav>

	<div class="container-floud p-4">
    <div class="card bg-primary">
			<div class="card-header text-center">plot</div>
			<div class="card-body">
				<div id="myDiv"></div>
			</div>
		</div>
	</div>
	</body>
  <script>
    axios.get('/bitchart')
  .then(function (response) {
    var exir = {
      name : "exir",
      x: response.data[0],
      y: response.data[1],
      type: 'scatter'
    };

    var calc = {
      name : "calc",
      x: response.data[0],
      y: response.data[2],
      type: 'scatter'
    };

    var data = [exir, calc];

    Plotly.newPlot('myDiv', data);
    // handle success
    console.log(response);
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });


  </script>


</html>
