<!DOCTYPE html>
<html lang="en">
  <head>
    <title>strix stock</title>
	<link rel="shortcut icon" type="image/png" href="http://www.cutmypic.com/uploads/title287502245.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<style>

	.text1 {
  font-size: calc(   1.4vw + 1.4vh );
}

.text2 {
  font-size: calc( 1.6vw + 1.6vh );
}

.text3 {
  font-size: calc( 1.4vw + 1.4vh );
}

	</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <a class="navbar-brand" href="#" ><h3>strix stock</h3></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/market">tsetmc market</a>
          </li>
        </ul>
    </nav>
	<div class="container-floud p-4">
	<div class="card-columns">
		<div class="card bg-success">
			<div class="card-header bg-success text-center">USD</div>
			<div class="card-body">
				<div class="row">
					<div class="col-4"><h3 class="text1">Buy </h3></div>
					<div class="col-8">
					<div class="row">
						<h2 class="text2">{{data['dolarbuy']}}</h2>
						<p> IRR</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-4"><h3 class="text1">Sell </h3></div>
					<div class="col-8">
					<div class="row">
						<h2 class="text2">{{data['dolarsell']}}</h2>
						<p> IRR</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="card bg-info">
			<div class="card-header text-center">Tsetmc</div>
			<div class="card-body">
				<div class="row">
					<div class="col-4"><h3 class="text1">Index</h3></div>
					<div class="col-8">
					<div class="row">
						<h2 class="text2">{{data['shakhes']}}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card bg-warning">
			<div class="card-header bg-warning text-center ">BTC</div>
			<div class="card-body">
				<div class="row">
					<div class="col-5"><h4 class="text1">Last Price </h4></div>
					<div class="col-7">
					<div class="row text-left">
						<h2 class="text2">{{data['btcprice']}}</h2>
						<p> $</p>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-5"><h4 class="text1">24h Vol</h4></div>
					<div class="col-7">
					<div class="row text-left">
						<h2 class="text2">{{data['cryptovol']}}</h2>
						<p>B$</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-5"><h4 class="text1">market cap </h4></div>
					<div class="col-7">
					<div class="row text-left">
						<h2 class="text2">{{data['cryptocap']}}</h2>
						<p>B$</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col ">
					  <h4 class="text3">7d</h4>
					  <h4 class="text3">{{data['btc7d']}}</h4>
					</div>
					<br></br>
					<div class="col">
					  <h4 class="text3">24h</h4>
					  <h4 class="text3">{{data['btc24h']}}</h4>
					</div>
					<div class="col">
					  <h4 class="text3">1h</h4>
					  <h4 class="text3">{{data['btc1h']}}</h4>
					</div>
				</div>

			</div>
		</div>

		<div class="card bg-primary">
			<div class="card-header bg-primary text-center">Exir</div>
			<div class="card-body">
				<div class="row">
					<div class="col-5"><h3 class="text1">Last Price </h3></div>
					<div class="col-7">
					<div class="row">
					<h2 class="text2">{{data['exirlast']}}</h2>
					<p> IRR</p>
					</div>
					</div>
				</div>
        <div class="row">
					<div class="col-5"><h3 class="text1">calc Price </h3></div>
					<div class="col-7">
					<div class="row">
					<h2 class="text2">{{data['calclast']}}</h2>
					<p> IRR</p>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-5"><h3 class="text1">24h Vol </h3></div>
					<div class="col-7">
					<div class="row">
					<h2 class="text2">{{data['exirvol']}}</h2>
					<p> BTC</p>
					</div>
					</div>
				</div>
			</div>
		</div>
    <div class="card bg-danger">
			<div class="card-header text-center">StrixDays</div>
			<div class="card-body">
				<div class="row">
					<div class="col-4"><h3 class="text1">straxico</h3></div>
					<div class="col-8">
					<div class="row">
						<h2 class="text2">{{data['strixold']}}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</body>
</html>
